<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiny.ucenter.dao.PermissionMenuMapper">
  <resultMap id="BaseResultMap" type="com.shiny.ucenter.entity.PermissionMenu">
    <id column="permission_id" jdbcType="VARCHAR" property="permissionId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
  </resultMap>
  <sql id="Base_Column_List">
    permission_id, menu_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission_menu
    where permission_id = #{permissionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from permission_menu
    where permission_id = #{permissionId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shiny.ucenter.entity.PermissionMenu">
    insert into permission_menu (permission_id, menu_id)
    values (#{permissionId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shiny.ucenter.entity.PermissionMenu">
    insert into permission_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        #{permissionId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiny.ucenter.entity.PermissionMenu">
    update permission_menu
    <set>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiny.ucenter.entity.PermissionMenu">
    update permission_menu
    set menu_id = #{menuId,jdbcType=VARCHAR}
    where permission_id = #{permissionId,jdbcType=VARCHAR}
  </update>
</mapper>